*{
margin: 0px;
padding: 0px;

}


#header_main{


height: 70px;



}

#header_logo{
height: 70px;
width: 120px;
float: left;


background-color: #0065AA;
}



#header_allindia{
background-color: #006577;
height: 70px;
width: 160px;
float: left;

}

#header_allindia .state  .state1{

width: 55px;
height: 160px;
border-color: orange;

}







/*search bar */

#header_search{
background-color: #2B5464;
height: 70px;
width: 750px;
float: left;

}



#header_search .search{
height: 30px;
width: 300px;

}

#header_search .search input{

background-color: yellow;


}

#header_login{
background-color:#0065AA;
float: right;
height: 70px;
width: 150px;

line-height: 
}
#header_login .login{

line-height: 70px;
text-align: center;
}

#header_login .login a{
text-decoration: none;
color: white;

}



#header_register{
background-color: #0065AA;
float: right;
height: 70px;
width: 120px;


}

#header_register .register{
line-height: 70px;
padding-left: 15px;


}
#header_register .register a{

text-decoration: none;
color: white;

}


.container{


height: 600px;


}

.menucontainer{

padding: 0px;

margin-top: 2px;
border-style: groove;
height: 30px;


}

.menucontainer ul{



    list-style-type: none;
    margin-left:400px;
    padding: 0;
    
   
}

.menucontainer ul li {
    float: left;
line-height: 30px;
}

} 



.routecontainer{
padding: 0px;

margin-top: 2px;
border-style: groove;
height: 30px;
}

.container #subcontainer{

height: 500px;
background-color: #0069B1;
width: 100%;
//padding: 50px;
//margin-left: 220px;
border-style: groove;

}







.container #subcontainer #bodydiv #leftbodydiv{

height: 200px;

width:400px;
//float: left;
//margin-left: 10px;
margin: 160px;


border-style: groove;

}

.container #subcontainer #bodydiv #rightbodydiv{

height: 200px;

width:400px;
//float: right;
//margin-left: 10px;
margin: 20px;

position: absolute;
border-style: groove;

}








.footer{


height: 250px;
background-color: #062136;


}

#abc {
width:100%;
height:100%;
opacity:0.7;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
 #abc #popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
form {
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}
p {
margin-top:30px
}
h2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
#name {
background-image:url(../images/name.jpg);
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
background-image:url(../images/email.png);
background-repeat:no-repeat;
background-position:5px 7px
}
textarea {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
span {
color:red;
font-weight:700
}
button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
}



/* Style the tab */
.container #subcontainer div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    //background-color: #f1f1c7;

//float: center;
}

/* Style the buttons inside the tab */
 .container #subcontainer div.tab button {
    background-color: green;
    float: center;
    border: none;
    outline: none;
    //cursor: pointer;
    padding: 4px 6px;
    //transition: 0.3s;
}

/* Change background color of buttons on hover */
.container #subcontainer div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
 .container #subcontainer div.tab button.active {
    background-color: #white;
}

/* Style the tab content */
.container #subcontainer .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}